    <!DOCTYPE html>
    {% load static %}


    <html>
    	<head>
    		<title>GymLog v0.01</title>
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		<!-- Bootstrap -->
 			<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    	</head>
   
    <body>
   	 	
   	 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn-large btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/gymlog/apu_request/">GymLog</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="/gymlog/apu_request/">Apu_req</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
<br>
<br>
<br>      
      
<span class="note">Tervetuloa (käyttäjä)! Viimeisin treeni tehty {{ last_workout }}</span>
  <br>
  
<a href="/gymlog/new_workout/" class="btn-large btn-warning" id="new_workout">Uusi treeni!</a><br>



<span class="response">{{testi}}</span>

  <br>
  
<!-- drop down menu. lista tulee kannasta -->
              <div class="btn-large-group">
                <button type="button" class="btn-large btn-primary dropdown-toggle" data-toggle="dropdown">
                   <span id="_vit">Valitse liike</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                                    
                  {% for liike in liikkeet %}

                      <li><a id="{{ liike }}" >{{ liike }}</a></li>
                  
                  {%endfor%}

                  <li class="divider"></li>
                  <li><a href="#addModal" data-toggle="modal">Lisää uusi liike</a></li>

                </ul>
              </div>



    
    
<!-- loppuupi tähän -->
<br>
<br>
    <a href="#acceptModal" role="button" class="btn-large btn-primary btn-lg" data-toggle="modal" id="jQuery">jQuery testi</a>

<br>

<h1>
    <button class="btn-large" id="dec">-</button>
        <span class="kg">0</span>kg
    <button class="btn-large" id="inc">+</button>
</h1>


<a href="#acceptModal" role="button" class="btn-large" data-toggle="modal" id="post_send">Send!</a>

    <!-- Modal -->
<div id="acceptModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" class="post_response">response</h3>
      </div>
      <div class="modal-body">
     
      
        <h4>sarjat: </h4>

        {% if sarjat %}

          {% for sarja in sarjat %}
          <li> talennettu sarja: {{ sarja.toistot }}
          {% endfor %}
        {% else %}
          <h4>Ei sarjoja</h4>
        {% endif %}

      </div>
      <div class="modal-footer">
    <button class="btn-large2" data-dismiss="modal" aria-hidden="true">Jatka</button>
    
    </div>
  </div>
</div> <!-- /loppuu -->




<!-- Tallenna uusi liike modaali -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Lisää uusi liike</h4>
        </div>
        <div class="modal-body">
        Lisättävä liike:
        
        <form name="add_exercise" action ="/gymlog/add_exercise/" method="post">
         {% csrf_token %}
          <input type="text" name="liike">

        </div>
        <div class="modal-footer">
        <button type="button" class="btn-large btn-default" data-dismiss="modal">Sulje</button>
        <button type="submit" class="btn-large btn-primary">Tallenna</button>
        </form>
      </div>
    </div>
  </div>
</div>
















    	<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="{% static "js/bootstrap.js" %}"></script>
    

      <script src=" {% static "js/jquery-1.10.2.js" %} "></script>
      <script src=" {% static "js/jquery.cookie.js" %} "></script>
      <script src=" {% static "js/application.js" %} "></script>
    </body>
    </html>