    <!DOCTYPE html>
    {% load static %}


<html>
 	<head>
    		<title>Salivihko v0.01</title>
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		
 			  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    	
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src=" {% static "js/jquery-1.10.2.js" %} "></script>
        <script src=" {% static "js/app.js" %} "></script>

  </head>
   



  <body>

      <!-- Yläpalkki -->
   	 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="">GymLog</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                            <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              
            </ul>
          </div>
        </div>
      </div>
      </div>
      <!-- Yläpalkki -->

    <div class="container">
      <br>
        <br>
        <span class="note">Tervetuloa (käyttäjä)! </span>
        <br>
        <br>
  
      <a href="/gymlog/new_workout/" class="btn btn-warning" id="new_workout">Uusi treeni!</a><br>
    
    <br>

    Viimeisimmät treenit: 
    
    <div id="viimeiset_treenit"></div>

    </div>
















  </body>
</html>