    <!DOCTYPE html>
    {% load static %}


    <html>
    	<head>
    		<title>GymLog v0.01</title>
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		<!-- Bootstrap -->
 			<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    	</head>




<style>
div.ex
{
width:220px;
padding:10px;
border:5px solid gray;
margin:0px;
}
</style>


   
    <body>
   	 	
   	 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/gymlog">GymLog</a>
          
        </div>
      </div>
    </div>

    <div class="container">
      <!-- sivun sisältö -->
      
    <div class="ex">The picture above is 250px wide.
The total width of this element is also 250px.</div>
































      <!-- sivun sisältö -->
    </div>
    	<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="{% static "js/bootstrap.js" %}"></script>
    

      <script src=" {% static "js/jquery-1.10.2.js" %} "></script>
      <script src=" {% static "js/jquery.cookie.js" %} "></script>
      <script src=" {% static "js/application.js" %} "></script>
    </body>
    </html>