    <!DOCTYPE html>
    {% load static %}


    <html>
    	<head>
    		<title>GymLog v0.01</title>
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		<!-- Bootstrap -->
 			<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    	</head>




<style>
div.ex
{
width:220px;
padding:10px;
border:5px solid gray;
margin:0px;
}
</style>


   
    <body>
   	 	
   	 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/gymlog">GymLog</a>
          
        </div>
      </div>
    </div>

    <div class="container">
      <!-- sivun sisältö -->
     

<!-- toistot -->
                    <div style="
                    font-family:verdana;
                    position:absolute;
                    left:10%;
                    right:65%;
                    bottom:75%;
                    top:10%;
                    padding:0px;
                    border:5px solid white;
                    border-spacing:100px 50px;">

                    <center>
                    <button class="btn btn-warning" id="dec_rep">-</button><br>
                  </center>

                  </div>

                  <div style="
                    font-family:verdana;
                    position:absolute;
                    left:35%;
                    right:35%;
                    bottom:75%;
                    top:10%;
                    padding:0px;
                    border:5px solid white;
                    border-spacing:100px 50px;">
                    
                    <center>
                    <span class="rep"> 6 </span>toistoa
                    </center>
                  </div>

                        <div style="
                        font-family:verdana;
                        position:absolute;
                        left:65%;
                        right:5%;
                        bottom:75%;
                        top:10%;
                        padding:0px;
                        border:5px solid white;
                        border-spacing:100px 50px;">

                      <center>
                      <button class="btn btn-warning" id="inc_rep">+</button><br>
                    </center>
                      </div>
<!-- toistot -->


















    
<!-- kilot -->
                    <div style="
                    font-family:verdana;
                    position:absolute;
                    left:10%;
                    right:65%;
                    bottom:60%;
                    top:25%;
                    padding:0px;
                    border:5px solid white;
                    border-spacing:100px 50px;">

                    <center>
                    <button class="btn btn-warning" id="dec">-</button><br>
                  </center>

                  </div>

                  <div style="
                    font-family:verdana;
                    position:absolute;
                    left:35%;
                    right:35%;
                    bottom:60%;
                    top:25%;
                    padding:0px;
                    border:5px solid white;
                    border-spacing:100px 50px;">
                    
                    <center>
                    <span class="kg">20 </span>kg
                    </center>
                  </div>

                        <div style="
                        font-family:verdana;
                        position:absolute;
                        left:65%;
                        right:5%;
                        bottom:60%;
                        top:25%;
                        padding:0px;
                        border:5px solid white;
                        border-spacing:100px 50px;">

                      <center>
                      <button class="btn btn-warning" id="inc">+</button><br>
                    </center>
                      </div>
<!-- kilot -->






















      <!-- sivun sisältö -->
    </div>
    	<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="{% static "js/bootstrap.js" %}"></script>
    

      <script src=" {% static "js/jquery-1.10.2.js" %} "></script>
      <script src=" {% static "js/jquery.cookie.js" %} "></script>
      <script src=" {% static "js/application.js" %} "></script>
    </body>
    </html>