<!DOCTYPE html>
    {% load static %}


    <html>
        <head>
            <title>GymLog v0.01</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        

      

      </head>
   
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/gymlog/">GymLog</a>
          <div class="nav-collapse collapse">
            
            <ul class="nav">
            <li><a id="pvm">{{ pvm }}</a></li>
            
          </ul>
          </div>
        </div>
      </div>
      </div>

      <br>
      <br>
      <br>      
      
 
      <!--container-->
      <div class="container2" style="
            
            position:absolute;
            left:20%;
            right:20%;
            bottom:5%;
            top:50px;
            padding:0px;
            border:1px solid white;
            border-spacing:100px 50px;">

             
      
      
        {% if registered %}
        
        <strong>thank you for registering!</strong>
        <a href="/gymlog/">Return to the homepage</a>,
        or <a href="/gymlog/login/">login</a><br />
       
        {% else %}
        
        </strong><br />

        <form id="user_form" method="post" action="/gymlog/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" class="btn btn-success" value="Register" />
        </form>
        {% endif %}



      </div>
      <!--container-->            
          <script src="{% static "js/bootstrap.js" %}"></script>
      

    </body>
    </html>